/* Normalise in CSS */
html,
body {
  background-color: rgb(21, 21, 21);
  padding: 0;
  margin: 0;
  font-family: helvetica, Arial, sans-serif;
}
.container {
  width: 100%;
  max-width: 80em;
  margin: 0 auto;
}
/*Start of Header CSS*/
header {
  background-color: transparent;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  transition: all ease 600ms;
}
.header-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-cont,
.right-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-brand {
  max-width: 120px;
  cursor: pointer;
}
.main-nav {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
}
.nav-item {
  color: rgb(229, 229, 229);
  margin-right: 21px;
  opacity: 0.84;
  cursor: pointer;
}
.nav-item.active {
  color: azure;
  opacity: 1;
  font-weight: 500;
  cursor: pointer;
}

.right-cont img {
  max-width: 2.21em;
  margin-right: 1.2em;
  cursor: pointer;
}
/* End of Header CSS*/
/* Start of Movies Section CSS*/
.movies-section {
  margin: 3.9em 0;
}
.movie-section-heading {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  cursor: pointer;
  margin-bottom: 1.5em;
}
.explore-slide {
  color: #54b9c5;
  font-size: 0.6em;
  display: none; /* Initially hide the element */
}
.movie-section-heading:hover .explore-slide {
  display: inline-block;
}
/*Responsive Section*/
@media (max-width: 48em) {
  .main-nav {
    display: none;
  }
}
